includes:
    - tools/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon
    - tools/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    ignoreErrors:
        - '/^Variable method call on .+?\.$/'
        -
            message: '/^Result of && is always false\.$/'
            path: src/Server.php
        -
            message: '/^Call to function is_callable\(\) with callable\(\): mixed will always evaluate to true\.$/'
            path: src/Server.php
        -
            message: '/^Parameter #1 \$result of method Jfalque\\HttpMock\\Server::return\(\) expects \(callable\)\|Psr\\Http\\Message\\ResponseInterface, int given\.$/'
            path: tests/ServerTest.php
        -
            message: '/^Cannot call method .+?\(\) on Jfalque\\HttpMock\\Server\|null\.$/'
            path: tests/ServerTest.php
        -
            message: '/^Cannot call method .+?\(\) on Jfalque\\HttpMock\\Server\|null\.$/'
            path: tests/StreamWrapperTest.php
        -
            message: '/^Call to static method PHPUnit\\Framework\\Assert::assertFalse\(\) with .+? will always evaluate to false\.$/s'
            path: tests/StreamWrapperTest.php
